body {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 14px; /*color: #111;*/
  }

  #item {
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    letter-spacing: 0.02cm;
    text-shadow: 1px 1px 0px #fff;
    font-variant: small-caps;
    font-size: 0.8em;
    color: #999;
    padding: 10px !important;
    margin-bottom: 1em;
    margin: 1em;
    width: 90%;
  }

  #detalhes {
    border: 0px !important;
    background-color: transparent;
  }

  #imagens {
    background-color: transparent;
    padding-bottom: 1em;
  }

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
  }